In [73]:
from sklego.datasets import load_heroes
import os

In [58]:
heroes = load_heroes(as_frame=True)

In [59]:
heroes.shape

(84, 6)

In [60]:
heroes.head(3)

      name attack_type     role  health  attack  attack_spd
0  Artanis       Melee  Bruiser  2470.0   111.0        1.00
1     Chen       Melee  Bruiser  2473.0    90.0        1.11
2   Dehaka       Melee  Bruiser  2434.0   100.0        1.11

In [61]:
heroes.describe()

            health      attack  attack_spd
count    83.000000   83.000000   83.000000
mean   1855.665060   90.530120    1.299639
std     501.885906   40.198998    0.956165
min     685.000000   15.000000    0.670000
25%    1485.000000   65.500000    1.000000
50%    1764.000000   85.000000    1.110000
75%    2135.000000  107.500000    1.250000
max    3060.000000  261.000000    8.000000

In [62]:
heroes.isna().sum()

name           0
attack_type    0
role           0
health         1
attack         1
attack_spd     1
dtype: int64

In [63]:
heroes[heroes["health"].isnull()]

    name attack_type             role  health  attack  attack_spd
45  Gall      Ranged  Ranged Assassin     NaN     NaN         NaN

In [64]:
heroes[heroes["role"] == "Ranged Assassin"].head()

       name attack_type             role  health  attack  attack_spd
40  Azmodan      Ranged  Ranged Assassin  2464.2    85.0        1.00
41   Cassia      Ranged  Ranged Assassin  1840.0   130.0        1.33
42  Chromie      Ranged  Ranged Assassin  1390.0    82.0        1.00
43  Falstad      Ranged  Ranged Assassin  1365.0   104.0        1.43
44    Fenix      Ranged  Ranged Assassin  1140.0    83.0        0.74

In [65]:
heroes[heroes["name"] == "Cho"]

   name attack_type  role  health  attack  attack_spd
75  Cho       Melee  Tank  2850.0   130.0        0.91

In [66]:
heroes[heroes["attack"] > 180]

      name attack_type             role  health  attack  attack_spd
25  Stukov       Melee           Healer  1765.0   261.0        0.67
48   Hanzo      Ranged  Ranged Assassin  1323.0   198.0        0.67

In [67]:
gall_health = 2850
gall_attack = 198
gall_attack_spd = 0.91

In [68]:
heroes.iloc[45, 3:] = [gall_health, gall_attack, gall_attack_spd]

In [70]:
heroes

         name attack_type     role  health  attack  attack_spd
0     Artanis       Melee  Bruiser  2470.0   111.0        1.00
1        Chen       Melee  Bruiser  2473.0    90.0        1.11
2      Dehaka       Melee  Bruiser  2434.0   100.0        1.11
3    Imperius       Melee  Bruiser  2450.0   122.0        0.83
4      Leoric       Melee  Bruiser  2550.0   109.0        0.77
..        ...         ...      ...     ...     ...         ...
79    Johanna       Melee     Tank  2700.0    99.0        0.91
80  Mal'Ganis       Melee     Tank  2600.0   100.0        0.91
81    Muradin       Melee     Tank  2765.0    88.0        1.11
82   Stitches       Melee     Tank  3060.0    85.0        0.91
83     Tyrael       Melee     Tank  2517.0    78.0        1.25

[84 rows x 6 columns]

In [71]:
heroes.isna().sum()

name           0
attack_type    0
role           0
health         0
attack         0
attack_spd     0
dtype: int64

In [74]:
data_folder = "../data"

if not os.path.exists(data_folder):
    os.makedirs(data_folder)

heroes.to_csv(os.path.join(data_folder, "heroes.csv"), index=False)