In [32]:
import pandas as pd
import numpy as np

In [33]:
heroes = pd.read_csv("../data/heroes.csv")

In [34]:
heroes.head(3)

      name attack_type     role  health  attack  attack_spd
0  Artanis       Melee  Bruiser  2470.0   111.0        1.00
1     Chen       Melee  Bruiser  2473.0    90.0        1.11
2   Dehaka       Melee  Bruiser  2434.0   100.0        1.11

In [35]:
heroes.shape

(84, 6)

In [36]:
heroes["attack_type"].unique()

array(['Melee', 'Ranged'], dtype=object)

In [37]:
heroes["role"].unique()

array(['Bruiser', 'Healer', 'Melee Assassin', 'Ranged Assassin',
       'Support', 'Tank'], dtype=object)

In [38]:
heroes["dummy"] = 1

In [39]:
heroes.groupby(by=["attack_type", "role"])["dummy"].count()

attack_type  role
Melee        Bruiser            12
             Healer              5
             Melee Assassin     11
             Support             1
             Tank               11
Ranged       Bruiser             1
             Healer             11
             Ranged Assassin    28
             Support             3
             Tank                1
Name: dummy, dtype: int64

In [40]:
bruisers = heroes[heroes["role"] == "Bruiser"]

In [41]:
bruisers_melee = bruisers[bruisers["attack_type"] == "Melee"]
bruisers_ranged = bruisers[bruisers["attack_type"] == "Ranged"]

In [42]:
bruisers_melee.head(2)

      name attack_type     role  health  attack  attack_spd  dummy
0  Artanis       Melee  Bruiser  2470.0   111.0        1.00      1
1     Chen       Melee  Bruiser  2473.0    90.0        1.11      1

In [43]:
bruisers_ranged.head(2)

     name attack_type     role  health  attack  attack_spd  dummy
7  Rexxar      Ranged  Bruiser  1810.0   125.0        0.87      1